* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.LandingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  width: 450px;
  border-radius: 1px;
  padding: 50px 40px 20px 40px;
  text-align: center;
}